// Specific CSS for your home-page
.landingimage {
   position: relative;
   width: 100%; /* for IE 6 */
}

h3 {
   position: absolute;
   top: 56px;
   left: 105px;
   width: 100%;
   font-size: 31px;
}
