<div class="tab-nav-container">
  <a href="/themes">
    <div class="tab teal d-flex flex-column justify-content-center">
      <i class="fas fa-paint-roller"></i>
      <p>Themes</p>
    </div>
  </a>
  <a href="/ar">
    <div class="tab teal d-flex flex-column justify-content-center">
      <i class="fas fa-vr-cardboard"></i>
      <p>AR</p>
    </div>
  </a>
  <a href="/furnitures">
    <div class="tab teal d-flex flex-column justify-content-center">
      <i class="fas fa-store-alt"></i>
      <p>Market</p>
    </div>
  </a>
  <a href="/myprofile">
    <div class="tab teal d-flex flex-column justify-content-center">
      <i class="fas fa-user-circle"></i>
      <p>Profile</p>
    </div>
  </a>
</div>
