<div class="tab-nav-container">
  <div class="tab active teal">
    <a href="/themes">
      <i class="fas fa-home"></i>
    </a>
  </div>
  <div class="tab teal">
    <a href="/themes">
      <i class="fas fa-paint-roller"></i>
    </a>
  </div>
  <div class="tab teal">
    <a href="/furnitures">
    <i class="fas fa-chair"></i>
  </a>
  </div>
  <div class="tab teal">
    <a href="/furnitures">
      <i class="fas fa-store-alt"></i>
    </a>
  </div>
  <div class="tab teal">
    <a href="/myprofile">
      <i class="fas fa-user-circle"></i>
    </a>
  </div>
</div>
