<div id="ar-start"></div>
<div class="navigation">
    <div class="navigation-icons d-flex justify-content-between">
        <i class="fas fa-home"></i>
        <i class="fas fa-paint-roller"></i>
        <i class="fas fa-couch"></i>
        <i class="fas fa-store-alt"></i>
        <i class="fas fa-user-circle"></i>
    </div>
</div>