<div class="bg-light col-6 col-lg-4 text-center">
  <img src= <%= asset_path 'respace-logo.png' %> alt="ReSpace-logo" style="height: 70px  ">
  <h1 class="white-text pb-3">Redesign your space</h1>
    <a href=" /users/sign_in" class="btn btn-pink white-text mb-3">Get Started</a>
</div>
