<div class="col-6 col-lg-4">
  <div class="logo">
    <img src= <%= asset_path 'respace-logo.png' %> alt="ReSpace-logo" style="height: 70px">
  </div>
  <div class="container text-center">
    <h4 class="h4 white-text pb-3">Redesign your space with AR</h4>
    <a href=" /users/sign_in" class="btn btn-pink white-text mb-3">Get Started</a>
  </div>
    <div class="imagebckgrnd">
      <img src= <%= asset_path 'landing-page-image.png' %> alt="">
    </div>
</div>
