<div class="landingimage col-6 col-lg-4">
  <div class="text-center">
  <%= cl_image_tag("landing-page-image_mkqb5h", width: 375, height: 632, crop: :fill) %>
  <h3 class="white-text pb-3">Redesign your space</h3>
  </div>
  <a href="/users/sign_in" class="btn btn-homepage mb-3">Get Started</a>
</div>
