<div class="bg-light col-6 col-lg-4 text-center">
  <img src= <%= asset_path 'respace-logo.png' %> alt="ReSpace-logo" style="height: 300px  ">
  <h1 class="white-text pb-3">Welcome to ReSpace</h1>
    <a href=" /users/sign_in" class="btn btn-pink white-text mb-3">Log In</a>
    <a href="/users/sign_up" class="btn btn-pink white-text">Sign Up</a>
</div>
