<h1>Welcome to ReSpace</h1>
<div id="banner">
<div class="bg-light col-6 col-lg-4 text-center pt-5">
  <img src="../../logo-image/respace-logo.jpg"
     alt="ReSpace-logo">
<%= link_to 'themes', themes_path %>
</div>
</div>
