<div class="landing-image">
  <div class="landing-image-wrapper">
    <h3 class="white-text pb-3 stoke landing-text">Redesign your space</h3>
    <a href="/users/sign_in" class="btn btn-homepage mb-3">Get Started</a>
  </div>
</div>
