.badge {
    background-color: #E07F9E;
    color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-family: "Poppins", "Helvetica", "sans-serif";
    font-size: 60%;
}