btn-plus {
  border-radius: 50%;
}

.btn-pink {
  background-color: #E07F9E;
  border-radius: 15px;
  font-size: 10px;
}

// themes buttons
.btn-marketplace {
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size: 10px;
    padding: 9px 25px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    border-radius: 11px;
    transition:opacity .3s;
}

.btn-marketplace-color {
 color: #E07F9E;
 border: 2px solid #E07F9E;
 background: #FFFFFF;
}

.btn:hover{
opacity:.9;
}

.btn-homepage {
  position: absolute;
  color: white;
  background: #E07F9E;
  padding: 6px 40px;
  border-radius: 11px;
  transition: background 0.3s ease ;
  top: 150px;
  left: 141px;
  font-size: 12px;
  text-align: center;
}
