.theme-img {
  border-radius: 20px;
  width: 160px;
  border: 5px solid white
}
.bg-light {
  background-color: #09122F !important;;
}

.card {
  margin: 15px;
  border-radius: 5px;
  background: rgba(255, 251, 247, 0.9);
  border: 2px solid #E07F9E;
}
.card-body {
  padding: 0px;
}
