<div>
  <div class="d-flex justify-content-center">
    <H1> Welcome to the marketplace</H1>
    <a href="/myprofile">
      <i class="far fa-star"></i>
    </a>
  </div>
  <div class="row">
    <% @furnitures.each do |furniture| %>
    <div class=“col-6 col-lg-4 text-center”>
      <div class="card" style="width: 200px; height: 250px">
        <img src= "<%= furniture.thumbnail_url %>" alt="thumbnail" style="width: 190px; height: 140px">
        <div class="text-right">
          <a href="#" class="btn btn-primary btn-plus">+</a>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%=link_to furniture.name, furniture_path(furniture) %></h5>
          <p class="text-muted">$<%= furniture.price %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to 'home', root_path %>
</div>
